apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMapName }}
  namespace: {{ .Values.namespace }}
  labels:
    application: {{ .Values.applicationName }}
data:
  pg_hba.txt: |-
    pg_hba:
    - local   all             all                                     {{ .Values.encryption }}
    - host    all             all             0.0.0.0/0               {{ .Values.encryption }}
    - host    all             all             ::1/128                 {{ .Values.encryption }}
    - local   replication     all                                     {{ .Values.encryption }}
    - host    replication     all             0.0.0.0/0               {{ .Values.encryption }}
    - host    replication     all             ::1/128                 {{ .Values.encryption }}


  tags.txt: |-

    tags:
      nofailover: false
      noloadbalance: false
      clonefrom: false
  log.txt: |-

    log:
      level: ERROR
      traceback_level: ERROR
      dir: /var/local/ivorysql/ivorysql-{{ .Values.majorVersion }}/patroni/